<h2>Table comparing different possible Cl2-to-CH4 ratios</h2>

In [5]:
# Some imports to stop some annoying yellow underlines
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

# Very important line to run the setup notebook!!!
%run do_plot_setup.ipynb

In [6]:
dummy_df = df = pd.DataFrame(np.random.randint(0,5,size=(5, 4)), columns=list('ABCD'))
display(dummy_df)

   A  B  C  D
0  4  1  4  4
1  4  1  3  0
2  4  4  1  3
3  0  2  1  2
4  2  3  0  2